@charset "UTF-8";
:root {
  
  /* Tipografía */
  --tipo-principal: 'Montserrat', sans-serif;
  --tipo-secundaria: 'Lora', serif;
  --tipo-terciaria: 'Hind Madurai', sans-serif;
}


body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-terciaria);
  color: black;

 }
/* CODIGO */
header a{
    font-family: var(--tipo-secundaria);
    font-size: 1.5em;
    color: black;

    width: 55%;

    text-decoration: none;   
    padding-left: 1em;
    margin-bottom: 0;
}

header nav{
                
}

header  .a{
    font-size: 1.2em;   
    font-family: var(--tipo-principal);            
}
header .dropdown-item{
    font-size: .9em;
    font-family: var(--tipo-principal);  
     
}
header button a{
    font-size: 1em;
    font-family: var(--tipo-principal);      
}
.carousel-inner,
.carousel-item{
    height: 100vh;   
}
.carousel-caption .h5{
    font-size: 2.5em;
  
}
.carousel-caption a{
    font-size: 1.5em;  
}
section .h2{
    text-align: center;
    font-size: 2em;
    font-family: var(--tipo-secundaria);
    margin: 1em 0;
       
}

footer a{
    text-decoration: none;
    color: black;
    font-size: .9em;

}
footer a:hover{
    text-decoration:underline;
}
footer p{
    font-size: .8em;
    color: rgba(0, 0, 0, 0.555);
}

/* PAGE LOGIN */
.login main{
    height: 100vh;
}
.login main h1{
    text-align: center;
    
}
.login form a{
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.479);
    font-size: .8em;
    padding: .5em;
}
.login form a:hover{
    text-decoration:underline;
}