.accesorios{
    width: 100%;
    padding-top: 7em;
    
}
.accesorios section{
    width: 100%;
    height: auto;
}
.accesorios .row{
    height: 23em;
}
.accesorios section img{
    width: 100%;
    height: 50%;
   
}