.carousel-inner,
.carousel-item{
    height: 100vh;   
}
.carousel-caption .h5{
    font-size: 2.5em;
  
}
.carousel-caption a{
    font-size: 1.5em;  
}
section .h2{
    text-align: center;
    font-size: 2em;
    font-family: var(--tipo-secundaria);
    margin: 1em 0;
       
}
.grid_ofertas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 2em;
}