.outfit_men{
    width: 100%;
    height: auto;
    
}
.outfit_men .container{
    margin-top: 7em;
}
.outfit_men .imgbannermen{
    width: 100%;
    height: 25vh;
}
.outfit_men img{
    width: 90%;
    height: 90%;
    border-radius: 5px;
}
.grid_hombres{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}